#web3Modal_openBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: coral;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

#web3Modal_openBtn:hover {
    background: #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.WalletBtn {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: coral;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

#web3Modal {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.web3Modal_dialog {
    display: flex;
    max-width: 500px;
    margin: 1.75rem auto;
    align-items: center;
    position: relative;
    width: auto;
    pointer-events: none;

}

.web3Modal_content {
    margin: 10% auto;
    background-color: #161522;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: 0.3rem;
    outline: 0;
}

.web3Modal_head {
    display: flex;
    height: 30px;
    margin: 15px 15px 0 15px;
}

.Modal_headLeft {
    display: flex;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    background-color: #202231;
    color: rgb(76, 77, 78);
}

.Modal_headRight {
    display: flex;
    width: 15%;
    justify-content: flex-end;
    align-items: center;
}

#web3Modal_closeBtn {
    color: #9fa8b1;
    background: transparent;
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#web3Modal_closeBtn:hover,
#web3Modal_closeBtn:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.web3Modal_body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.web3Modal_svg {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.bodyform {
    display: flex;
    color: rgb(76, 77, 78);
    height: 80px;
    border-radius: 0.6rem;
    flex-direction: column;
    border: 0.09rem solid;
    border-color: #a3adb6;
    padding-bottom: 1rem;
}

.bodyform_head {
    margin-left: 10px;
}

.bodyform_head {
    display: flex;
    font-size: 0.8rem;
    margin-top: 5px;
}

.bodyform_headLeft {
    display: flex;
    width: 20%;
}

.bodyform_Right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 10px;
    flex-grow: 1;
}

.bodyform_div {
    display: flex;
    border-radius: 0.3rem;
    gap: 1rem;
    flex-grow: 1;
}

.bodyform_div_1 {
    display: flex;
    gap: 1rem;
    margin:  10px;
    align-items: center;
}

.bodyform_div_2 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.MaxBtn_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#MaxBtn {
    height: 100%;
    --reach-dialog: 1;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: transparent;
    color: #F1B90C;
    box-shadow: none;
}



.imgdiv img {
    width: 30px;
    height: 30px;
    filter: brightness(92%);
    border-radius: 50%;
}


.selectdiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    /* justify-content: center;  */
    align-items: center;
}

.SymbolSpan {
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
}



input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.token-amount-input {
    margin-bottom: 10px;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    background-color: #a19b9b;
    -webkit-font-smoothing: antialiased;
    border: 0 solid;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
    /* color: inherit; */
    position: relative;
    width: 0;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: none;
    background-color: transparent;
    padding: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    outline: 2px solid transparent;
    outline-offset: 2px;
}


.web3Modal_footer {
    flex-wrap: wrap;
    align-items: center;
    height: 48px;
    /* margin: 25px 10px 0 10px; */
    margin-top: 15px;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

#BuyButton {

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --swiper-theme-color: #007aff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", serif;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    border: 1px solid #007bff;
    padding: 9px 50px !important;
}

.flexgapjustify-center {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Rajdhani;
    line-height: 17px;
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    --tw-gradient-from: rgba(62, 65, 80, .3);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(62, 65, 80, 0));
    --tw-bg-opacity: 1;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flexjustify-center {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Rajdhani;
    line-height: 17px;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-2xltracking-wide {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Rajdhani;
    --tw-text-opacity: 1;

    --tw-bg-opacity: 1;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .025em;
}

.text-xstracking-wide {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Rajdhani;
    --tw-text-opacity: 1;

    --tw-bg-opacity: 1;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .025em;
}

.h-2rounded {
    box-sizing: border-box;
    display: flex !important;
    height: .5rem !important;
    overflow: hidden !important;
    border-radius: .25rem !important;
    background-color: #cfd2d4;
    --tw-bg-opacity: 1 !important;
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(.25rem * var(--tw-space-y-reverse)) !important;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0.1rem 0.1rem inset;
}

.bg-primary {
    box-sizing: border-box;
    background-color: #007bff;
}

.flexspace-x-3 {
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #fb71ae;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #3b82f6;
    --warning: #f9b707;
    --danger: #dc2626;
    --light: #f8f9fa;
    --dark: #1a192e;
    --walletconnect: #024d9c;
    --metamask: #f6851b;
    --trustwallet: #3274bb;
    --dark-l: #495057;
    --darker: #212529;
    --darkest: #0e0e0e;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Rubik", "sans-serif";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 400;
    color: #fff;
    text-align: left;
    font-family: Rubik, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    --tw-bg-opacity: 0.9 !important;
    word-wrap: break-word;
    border: 0 solid;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgb(229 229 229/var(--tw-border-opacity));
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246/0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-brightness: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-contrast: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-grayscale: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-hue-rotate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-invert: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-saturate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-sepia: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-drop-shadow: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    box-sizing: border-box;
    display: flex !important;
    justify-content: space-between !important;
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    letter-spacing: .025em !important;
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(.25rem * var(--tw-space-y-reverse)) !important;
}

.text-ignoredflex-shrink-0 {
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #fb71ae;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #3b82f6;
    --warning: #f9b707;
    --danger: #dc2626;
    --light: #f8f9fa;
    --dark: #1a192e;
    --walletconnect: #024d9c;
    --metamask: #f6851b;
    --trustwallet: #3274bb;
    --dark-l: #495057;
    --darker: #212529;
    --darkest: #0e0e0e;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Rubik", "sans-serif";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 400;
    text-align: left;
    font-family: Rubik, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    --tw-bg-opacity: 0.9 !important;
    word-wrap: break-word;
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    letter-spacing: .025em !important;
    --tw-space-y-reverse: 0 !important;
    border: 0 solid;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgb(229 229 229/var(--tw-border-opacity));
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246/0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-brightness: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-contrast: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-grayscale: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-hue-rotate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-invert: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-saturate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-sepia: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-drop-shadow: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    box-sizing: border-box;
    flex-shrink: 0 !important;
    color: rgb(163 163 163/var(--tw-text-opacity)) !important;
    --tw-text-opacity: 1 !important;
    opacity: .9 !important;
}

.conectBtnclass {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --swiper-theme-color: #007aff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", serif;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    border: 1px solid #2b2d42;
    z-index: 5;
    min-width: max-content;
    background-color: #fff;
    border-color: #d0d5dd;
    color: #344054;
    padding: 9px 16px !important;
    margin-right: 12px;
}

.col-lg-6metric_label {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --swiper-theme-color: #007aff;
    line-height: 1.5;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    font-family: "Inter", serif;
    word-wrap: break-word;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
}

.col-lg-6metric_value {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --swiper-theme-color: #007aff;
    line-height: 1.5;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    font-family: "Inter", serif;
    word-wrap: break-word;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowm-0 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --swiper-theme-color: #007aff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    font-family: "Inter", serif;
    word-wrap: break-word;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    margin-left: 0 !important;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    border-bottom: 1px solid rgba(111, 117, 125, 0.5);
}